/* Google Fonts, Lora and Roboto */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Lora', serif;
    --primary-color: #040404; /* Grey */
    --secondary-color: #acacac; /* light grey */
    --thirdly-color:#ffffff; /* White */
}

/* Global styles */

body {
    display: flex;
    flex-direction: column;
min-height: 100vh; 
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color:var(--primary-color)
}

/* Header */
header {
    background-color: var(--primary-color);

}


/* Main */
main {
    background-color:var(--secondary-color);
    /* Make main elemnt take up the remaining space */
    flex-grow: 1;
}

/* Footer */
footer {
    background-color: var(--thirdly-color);
}